.main__container {
  height: 100vh;
  width: 100%;
  max-width: 31.25rem;
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #121214;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  img {
    width: 6.3125rem;
    height: 0.87519rem;
  }

  section {
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
    padding: 1.10569rem 0.5rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0.20056rem;
    background: var(--grey-3, #212529);
    box-shadow: 0px 3.209px 32.087px -8.022px rgba(0, 0, 0, 0.25);
    border: none;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: start;
      gap: 1rem;
      padding: 0;
      h1 {
        color: var(--grey-0, #f8f9fa);
        font-size: 0.90244rem;
        font-style: normal;
        font-weight: 700;
        height: 1.40381rem;
        text-align: center;
      }

      p {
        height: 0.90244rem;
        color: var(--grey-1, #868e96);
        font-size: 0.60163rem;
        font-style: normal;
        font-weight: 600;
        line-height: 0.90244rem;
        text-align: center;
      }
    }
  }
}

h2 {
  color: var(--color-primary);
}

.btn__login {
  display: flex;
  width: 100%;
  height: 2.4065rem;
  padding: 1.4rem 1.39588rem;
  justify-content: center;
  align-items: center;
  gap: 0.6345rem;
  border-radius: 0.25381rem;
  border: 1.218px solid var(--color-primary, #ff577f);
  background: var(--color-primary, #ff577f);
  color: #fff;
  font-size: 0.80219rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.32331rem;
}

.btn__register {
  display: flex;
  width: 100%;
  height: 2.4065rem;
  padding: 1.4rem 1.39588rem;
  justify-content: center;
  align-items: center;
  gap: 0.6345rem;
  border-radius: 0.25rem;
  border: 1.218px solid var(--grey-1, #868e96);
  background: var(--grey-1, #868e96);
  color: var(--grey-0, #f8f9fa);
  font-size: 0.80219rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.32331rem;
  text-decoration: none;
}
