.body__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body__content {
  width: 100%;
  justify-content: flex-start;
  padding: 0;
  border-radius: 0.5rem;
  background-color: var(--grey-4, #121214);
}

header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-4, #121214);

  div {
    width: 100%;
    max-width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-4, #121214);

    button {
      display: inline-flex;
      height: 2rem;
      padding: 0rem 1.01519rem;
      justify-content: center;
      align-items: center;
      gap: 0.6345rem;
      color: var(--grey-0, #f8f9fa);
      text-align: center;
      font-family: var(--font-primary);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.77656rem;
      border-radius: 0.25rem;
      border: none;
      background: var(--grey-3, #212529);
    }
  }
}

section {
  width: 100%;

  border-top: 1px solid var(--grey-0);
  border-bottom: 1px solid var(--grey-0);
  background-color: var(--grey-4, #121214);

  div {
    display: flex;
    width: 100%;
    height: 8.1875rem;
    padding: 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--grey-4, #121214);
    h1 {
      color: var(--grey-0, #f8f9fa);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.75rem;
    }

    p {
      color: var(--grey-1, #868e96);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.375rem;
      color: #868e96;
    }
  }
}

main {
  background-color: var(--grey-4, #121214);
  width: 100%;
  padding: 0.5rem;

}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  width: 100%;
  max-width: 60rem;

  p {
    color: var(--grey-0, #f8f9fa);
    font-family: var(--font-primary);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    color: #FFFFFF;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.3rem;


  }

}

@media (min-width: 768px) {
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      max-width: 60rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      max-width: 60rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }
  }

  .main__header {
    max-width: 60rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0.1rem;
    justify-content: space-between;
    align-items: center;
  }
}
