.body__container {
  justify-content: flex-start;
  padding: 0;
  border-radius: 0.5rem;
  background-color: var(--grey-4, #121214);
}

header {
  width: 100%;
  padding: 1rem;
  background-color: var(--grey-4, #121214);

  div {
    width: 100%;
    max-width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-4, #121214);
  }
}

section {
  width: 100%;
  max-width: 60rem;
  border-top: 1px solid var(--grey-0);
  border-bottom: 1px solid var(--grey-0);
  background-color: var(--grey-4, #121214);

  div {
    display: flex;
    width: 100%;
    max-width: 60rem;
    height: 8.1875rem;
    padding: 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    background-color: var(--grey-4, #121214);
    h1 {
      color: var(--grey-0, #f8f9fa);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.75rem; /* 155.556% */
    }

    p {
      color: var(--grey-1, #868e96);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.375rem;
      color: #868e96;
    }
  }
}

main {
  background-color: var(--grey-4, #121214);
  width: 100%;
  div {
    background-color: var(--grey-4, #121214);
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
      width: 18.125rem;
      color: var(--grey-0, #f8f9fa);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.75rem;
    }

    h3 {
      width: 18.5625rem;
      color: #fff;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.52275rem;
    }
  }
}


@media  (min-width: 768px) {

  section {
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }


}