.inpt__container {
  height: 100%;

}

.inpt__content {
height: 100%;
position: relative;
display: flex;
width: 16.54113rem;
height: 2.4065rem;
padding: 0rem 0.81431rem;
align-items: center;
gap: 0.50894rem;
border-radius: 0.20056rem;
border: 0.977px solid var(--grey-0, #F8F9FA);
background: var(--grey-2, #343B41);

}

.inpt__button {
  position: absolute;
  top: 0;
  right: 0;

}

label {
  color: var(--grey-0, #f8f9fa);
  font-size: 0.61075rem;
  font-style: normal;
  font-weight: 400;
}

p {
  color: red;
}