.li__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #121214;
}
.tech__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  h3 {
    color: #fff;
    font-family: var(--font-primary);
    font-size: 0.88813rem;
    font-style: normal;
    font-weight: 700;
  }

  p {
    color: var(--grey-1, #868e96);
    text-align: right;
    font-family: var(--font-primary);
    font-size: 0.76138rem;
    font-style: normal;
    font-weight: 400;
  }
}
.edit__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    color: white;

    button {
      background: #121214;
      border: none;
      color: white;
    }
}

@media (min-width: 768px) {
  .tech__container{
    display: flex;
    flex-direction: row;
    width: 90%;
  }

  .edit__container{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}