body {
  height: 100vh;
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: var(--grey-4, #121214);
 
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;

  h2 {
    color: var(--color-primary);
  }

  button {
    display: flex;
    width: 4.97138rem;
    height: 1.99706rem;
    padding: 0rem 1.01519rem;
    justify-content: center;
    align-items: center;
    gap: 0.6345rem;
    border-color: transparent;
    border-radius: 0.25rem;
    background: var(--grey-3, #212529);
    color: var(--grey-0, #f8f9fa);
    text-align: center;
    font-size: 0.59963rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.42038rem;
  }

}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.19988rem;
  background: var(--grey-3, #212529);
  box-shadow: 0px 3.198px 31.981px -7.995px rgba(0, 0, 0, 0.25);
  padding: 1rem;

 
}

.div__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  h1 {
    width: 6.34625rem;
    height: 1.39919rem;
    color: var(--grey-0, #f8f9fa);
    font-size: 0.8995rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.39919rem;
  }

  p {
    width: 8.29513rem;
    height: 1.09938rem;
    color: var(--grey-1, #868e96);
    font-size: 0.59963rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.09938rem; /* 183.333% */
  }
}

.container__select {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inpt {
  display: flex;
  width: 16.54113rem;
  height: 2.4065rem;
  padding: 0rem 0.81431rem;
  align-items: center;
  gap: 0.50894rem;
  border-radius: 0.20056rem;
  border: 0.977px solid var(--grey-0, #f8f9fa);
  background: var(--grey-2, #343b41);
  color: var(--grey-50, #868e96);
  font-size: 0.81169rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.31894rem;
  margin-bottom: 1rem;
}

.button__form {
  display: flex;
  width: 16.29044rem;
  height: 2.39856rem;
  padding: 0rem 1.39588rem;
  justify-content: center;
  align-items: center;
  gap: 0.6345rem;
  border-radius: 0.25rem;
  border: 1.218px solid var(--color-primary-Disable, #59323f);
  background: var(--color-primary-Disable, #59323f);
  color: #fff;
  font-size: 0.7995rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.31894rem;
}
