@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --font-primary: "Inter", sans-serif;

  --color-primary: #ff577f;
  --color-primary-Focus: #ff427f;
  --color-primary-Negative: #59323f;

  --grey-4: #121214;
  --grey-3: #212529;
  --grey-2: #343b41;
  --grey-1: #868e96;
  --grey-0: #f8f9fa;

  --sucess-color: #3fe864;
  --negative-color: #e83f5b;
}

body {
  height: 100vh;
  font-family: var(--font-primary);
  background: #121214;
}
